<form action="/formget" method="GET">
    <input type="text" name="customer" placeholder="ชื่อลูกค้า">
    <input type="text" name="product" placeholder="รายการสินค้า">
    <input type="text" name="address" placeholder="ที่อยู่"><br>
    <input type="text" name="phone" placeholder="เบอร์โทร"> 
    <input type="submit" value="เพิ่มคำสั่งซื้อ">
</form>
<hr>