<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Panda Company</title>
    <link href="styles.css" rel="stylesheet">
    <style>
        
    </style>
</head>
<body>
    <!-- heaher -->
    <%- include("header") %>
    <!-- Content -->
    <h1>No Content Avaliable</h1>
    <img src="http://webdev.it.kmitl.ac.th/labdocs/lab2/images/Moo-Deng-hippo.jpg" alt="Moo-Deng-hippo" width="100%">
    <!-- footer -->
    <%- include("footer") %>
</body>
</html>

