<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add</title>
</head>
<body>
    <h1>Create a New Todo</h1>
    <form method="get" action="/get">
        title:<input type="Text" name="title">
        description:<input type="Text" name="description">
        deadline:<input type="date" name="deadline">
        <input type="submit" value="submit">
    </form>
    <a href="/">Back to see your Todo</a>
</body>
</html>